<?xml version='1.0' encoding='utf-8'?>
<widget id="com.hazardous.lies" version="0.0.1" xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Lies</name>
    <description>
        An application that tells you lies.
    </description>
    <author email="filip@blueturtle.nu" href="http://lies.hazardous.se">
        Lies Inc
    </author>
    <preference name="Orientation" value="portrait"/>
    <content src="index.html"/>
    <access origin="127.0.0.1"/>
    <access origin="lies.hazardous.se"/>
</widget>
